*{
    text-decoration: none;
    list-style: none;
}
.logo{
    margin-top: 22.5px;
    margin-right: 7px;
    height: 55px;
    width: 55px;
    float: left;
    background-color: #ff7e79;
}
.nav{
    margin-left: 30px;
    padding-top: 12px;
    width: 820px;
    height: 88px;
    float: left;
}
.nav ul li{
    float: left;
    height: 24px;
    padding: 26px 10px 38px ;
    font-size: 16px;
    color: black;

}
.blank-li{
    width: 122px;

}
.nav ul li a{
    display: inline-block;
    color: black;
}
.nav ul li a:hover{
    color: #ff532e;
    text-decoration: none;
}
* {outline: none;}
.search{
    width: 243px;
    height: 48px;
    margin-top: 21px;
    font-size: 16px;
    padding: 0 10px;
    border: 0.3px solid #666;
    float: left;
    line-height: 52px;
}
.zuoK{
    float: right;
}
.search-box{
    border: 0 solid #fdffff;
    width: 90px;
    height: 45px;
}
.search-link{
    font-size: 12px;
    padding: 0 11px;
    background-color: #eeeeee;
    color: #757575;
}
.search-submit{
    float:right;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    background-image: url("../images/搜索1.jpg");
    background-size: 50px;
}
.search-submit:hover{
    background-image: url("../images/搜索2.jpg");
    background-size: 50px;
}
.search-link:hover{
    text-decoration: none;
    background-color: #ff532e;
    color: ghostwhite;
}

